<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">Bienvenue sur le Launcher Axelia</span>
        <span id="welcomeDescription">Thème du Serveur : Nous sommes en 2157 , La Terre à explosée mais par chance , mais avant l'explosion nous avons créer une Civilization sur Mars , Nous avons pu nous réfugiez sur Mars , Vous etes un Prisonnier votre but est de s'échapper de cette Prison les moyens d'évasion sont beaucoup qui va de : Noyer les gardes , Innonder la Prison , Casser les Système de Sécurité , de voler les clées etc...  /span>
        <br>
        <span id="welcomeDescCTA">En quelques click , Vous Serez sur le Serveur Axelia.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>